<html>
    <head>
        <title>Trading Portal</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    </head>

    <body>
        

        <div id="banner"></div>

        
        
        <div class="container">
            
            <h1>Overview</h1>
                <h2>Position</h2>

                <div id="vue-position"></div>
                <div>
                    <table class="table">
                        <tr>
                            <th>test</th>
                        </tr>
                        <tr>
                            <td>bac</td>
                        </tr>
                    </table>
                </div>
                  <!--<div id="position">
                      <table class="table">
                          <tr>
                            <th v-for="item in header"> 
                                {{ item }}
                            </th>
                          </tr>

                          <tr v-for="contract in content">
                            <td>{{ contract.symbol }}  </td>
                            <td>{{ contract.position }}</td>
                            <td>{{ contract.avg_cost }}</td>
                            <td>{{ contract.last_price }}</td>
                            <td>{{ contract.last_trade_date }}</td>
                            <td>{{ contract.profit }}</td>
                            <td>{{ contract.currency }}</td>

                          </tr>
                      </table>
                  </div>-->
                  
        </div>
    </body>
</html>
